p {
color: white;

}
h1{
	color: white;
	font-size: 30px;
}

.firstClick 
{height: 30%;
width: 20%; 
border-style: solid;
 border-width: 3px; 
 border-color: black; 
 float: left;
 margin:auto;
 text-align: center;

}
.secondClick 
{height: 45%;
width: 20%; 
border-style: solid;
 border-width: 3px; 
 border-color: black; 
 float: left;

}

.thirdClick 
{height: 100%;
width: 20%; 
border-style: solid;
 border-width: 3px; 
 border-color: black; 
 float: left;
}

.portrait
{
	width:150px;
	height: 150px;
	align-content: center;
	 display: flex; 
	 clear:left; margin:auto;


}

button {
	clear: left;
}

section{
	height: 50%;


}

main{
	margin: auto;
	vertical-align: center;
	align-content: center;

}

article  {
	height: 960px;
	width: 100%;
	background-size: 1000px 1000px;
	background-image: url("https://www.walldevil.com/wallpapers/w01/522420-black-background-funny-harry-potter-movies-quotes-saruman-star-wars-the-lord-of-the-rings.jpg");
}
